#resume h1 {
    font-size: 2em;
}

/*Resume tables-------------------------------*/
.row-bordered {
    border: 1px dotted #ddd;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

#resume-content {
    /*overflow: auto;*/
    border-right: 1px dotted lightgrey;
    border-left: 1px dotted lightgray;
    padding: 0 30px;
}

.resume-block table td {
    padding: 5px;
}

.resume-block table td:first-of-type {
    min-width: 230px;
}

.resume-block table td ul {
    font-size: 0.9em;
    line-height: 1.2em;
}

.click-to-visit {
    font-size: 0.8em;
}

.resume-title {
    padding: 20px 10px 5px;
    border-bottom: 1px solid lightgrey;
}

.resume-title h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.table-responsive {
    margin-top: 35px;
}

.dotted {
    background-image: url('../images/gridoverlay.png');
    background-color: white;
}

/*Experience Table*/

#experience td::after {
    font-weight: bold;
}

#experience .plaidypus img {
    max-width: 80px;
}

#experience .jml img {
    max-width: 120px;
}

#experience img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#experience a:hover,
#education a:hover {
    text-decoration: underline;
    background-color: rgba(224, 224, 224, 0.5);
}

#experience li {
    text-align: left;
}

#education {
    margin-top: 20px;
}

#experience thead th {
    padding: 5px;
}

#experience td:first-of-type {
    min-width: 135px;
}

#education td {
    padding: 15px;
}

/*Skills*/
#skills {
    margin-top: 30px;

}

.skills-body {
    padding-top: 30px;
}

.skills-body h3 {
    text-align: center;
    margin-bottom: 10px;
}

.resume-skills-container {
    margin-top: 50px;
    min-height: 300px;
}

.skills-note {
    text-align: center;
}

.other-skills-container {
    display: flex;
    justify-content: center;

}

.other-skill {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin: 0 5px;*/
}
.other-skills-container img {
    max-width: 45px;
    display: inline-block;
    /*border-radius: 10px;*/
    margin: 4px;
}

.other-skills-container img:hover {
    transform: scale(1.2);
    transition: all 400ms linear;
}