/*.prospective-title-section {*/
/*margin-top: 50px;*/
/*}*/

.prospective-body-section {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 5px;
}

/*.prospective {*/
/*padding-top: 20px;*/
/*}*/
.prospective-body-section .section-title-container h2 {
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.prospective-title-section .inner-content {
    padding: 10px;
    margin: 10px;
}

.prospective-logos-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prospective-img-container {

}

.prospective-img-container img {
    width: 50px;
}
