header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    transition: all 0.7s;
}

.header-body {
    display: flex;
    /*background-color: #1f2329e0;*/
    /*background-color: #20232a;*/
    background-color: #1f2329;
    transition: all 0.6s;
    border-bottom: 1px solid lightgrey;
}

.header-body-inner {
    flex: 1;
    display: flex;
    transition: all 0.6s;
}

#logo {
    display: flex;
    padding: 3px 10px;
    color: #fff;
}

.menu-wrapper {
    flex: 1;
    display: flex;
    padding-right: 5%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
}

.logo-container h1 {
    color: #fff;
    font-size: 1.5em;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
}

.mobile-logout-button-container {
    color: #000;
    display: flex;
    align-items: center;
    padding: 0 7px;
    background-color: #fff;
    margin-right: -70px;
    transition: all 600ms;
}

.mobile-logout-button-container.hide {
    margin-right: -70px;
}

.mobile-logout-button-container.show {
    margin-right: 0;
}

@media all and (max-width: 600px) {
    header {
        top: -40px !important;
    }
    .header-body-inner {
        flex: unset;
        width: 100%;
    }
    .menu-wrapper {
        padding-right: 0;
    }

    .logo-container {
        flex: 1;
    }

    .login-container.mobile .user-name-container p {
        margin: 0;
        padding: 0;
    }

    .header-body-inner.logout {
        margin-left: -65px;
    }
}
