header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: all 0.7s;
}

.header-body {
    display: flex;
    /*background-color: #1f2329e0;*/
    /*background-color: #20232a;*/
    background-color: #1f2329;
    transition: all 0.6s;
    border-bottom: 1px solid lightgrey;
}

.header-body-inner {
    flex: 1;
    display: flex;
    transition: all 0.6s;
}

#logo {
    /*border: 4px solid lightgrey;*/
    display: flex;
    padding: 3px 10px;
    color: #fff;
    /*-webkit-transform: skew(-20deg);*/
    /*-ms-transform: skew(-20deg);*/
    /*transform: skew(-20deg);*/
}

.menu-wrapper {
    flex: 1;
    display: flex;
    padding-right: 5%;
}

.title-wrapper {
    padding-left: 2%;
    display: flex;
    align-items: center;
    color: #fff;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}

.title-wrapper h1 {
    display: flex;
    font-family: 'Cormorant', serif;
}

.title-wrapper-image-container {
    width: 100px;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

img#site-logo {
    width: 100%;
    height: auto;
}