.circle-container {
    flex: 1;
    display: flex;
}

.circle-container h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.circle-container ul {
    flex: 1;
    height: 27em;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.circle-container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 1.5s linear;
}

.circle-container li:hover {
    cursor: pointer;
}

.circle-container li:hover img {
    transform: scale(1.1);
    transition: 200ms linear;
}


.circle-img-container {
    width: 5em;
}

.circle-img-container img {
    width: 100%;
}

li.center-title {
    background-color: #2e78a5;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    color: #fff;
    transition: all 2s linear;
}
@media all and (max-width: 1100px) {
    .prospective-body-section ul {
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    .circle-container ul {
        height: 18em;
    }
}