/* ********************* Navigation *********************************** */
.menu {
    flex: 1;
    display: flex;
}

.menu-inner {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu .menu-link {
    flex: 1;
    display: flex;
    max-width: 100px;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    /*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
    color: lightgrey;
    border-right: 1px solid lightgrey;
}

.menu .menu-link a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu a:after {
    content: '';
    width: 0;
    height: 1px;
    margin-top: 11px;
    position: absolute;
    left: 50%;
    background: #fff;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
    transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}

.menu .menu-link a:hover {
    /*color: #20232a;*/
    /*background: transparent;*/
    /*background: linear-gradient(90deg, #ffba67 0%, #fdca70 20%, #bdbf6d 60%, #ed7061 85%, #7db5da 95%) fixed;*/
    font-weight: bold;
    background: linear-gradient(90deg, #3aff62 0%, #495afd 20%, #fbe900 60%, #ed060b 85%, #ec1919 95%) fixed;
    color: #fff;
    cursor: pointer;
}

.menu a:hover:after {
    /*width: calc(100% - 40px);*/
    width: 65%;
}

.menu .menu-link.active-link {
    font-size: 17px;
    font-weight: bold;
}

/********** Mobile Menu ********************/

@media all and (max-width: 992px) {
    .menu ul li {
        font-size: 0.9em;
        width: 17%;
    }

    .header-body-inner {
        margin-top: -2px;
    }

    .title-wrapper h1 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 769px) {
    .menu ul li {
        width: 20%;
        font-size: 0.85em;
    }

    .menu ul li:last-of-type {
        border-right: none;
    }

    .login-wrapper input {
        width: 27%;
    }
}

@media all and (max-width: 640px) {
    .menu ul li {
        font-size: 0.8em;
    }
}

.mobile-login_button {
    display: none;
}

@media all and (max-width: 600px) {
    .mobile-login_button {
        display: block;
        float: right;
        padding-top: 25px;
    }

    .mobile-login_button:after {
        content: '';
        display: block;
        clear: both;
    }

    .mobile-login_button a {
        text-decoration: none;
    }

    .mobile-login_button a:first-of-type {
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        padding-right: 5px;
        margin-right: 4px;
        color: red;
    }

    .login-wrapper {
        visibility: hidden;
        height: 15px;
        display: none;
    }

    .menu {
        display: none;
    }

    .title-wrapper {
        width: 100%;
    }

}