.timeline-content {
    max-width: 1200px;
    margin: auto;
}

.timeline {
    position: relative;
    width: 100%;
}

/*-------------------------------------------------
# Time line vertical line
--------------------------------------------------*/
.timeline::before {
    content: '';
    background: #a6d1bc;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*-------------------------------------------------
# Time line circle image
--------------------------------------------------*/
.timeline-img {
    width: 30px;
    height: 30px;
    background: #70cde9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 13px;
    margin-left: -15px;
}

/*-------------------------------------------------
# Time line Item
--------------------------------------------------*/
.timeline-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

timeline-item-container {
    position: relative;
    flex: 1;

}

.timeline-item {
    position: relative;
    flex: 1;
    display: flex;
    margin-bottom: 50px;
}

.timeline-item:after {
    content: '';
    clear: both;
}

.timeline-card {
    position: relative;
    width: 44%;
    border-radius: 4px;
    background-color: #fafafa;
}

.timeline-card:after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 8px;
}

/*Item Left Side*/
.timeline-container .timeline-item-container:nth-child(odd) .timeline-card {
    float: left;
}

.timeline-container:nth-child(odd) .timeline-item-container:nth-child(odd) .timeline-card::after {
    right: -28px;
    border-width: 20px 0 19px 28px;
    border-color: transparent transparent transparent #eb1917
}

/*Item Right Side*/
.timeline-container .timeline-item-container:nth-child(even) .timeline-card {
    float: right;
}

.timeline-container .timeline-item-container:nth-child(even) .timeline-card::after {
    left: -28px;
    border-width: 20px 28px 19px 0;
    border-color: transparent #eb1917 transparent transparent;
}

/*Item Header Image Container*/
.timeline-img-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
    background: #d6d6d6 center center no-repeat;
    background-size: cover;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: #20232a;
}

/*Item Date Container*/
.timeline-card-date {
    position: absolute;
    top: 8px;
    display: inline-block;
    padding: 10px;
    background: #eb1917;
    color: #FFFFFF;
}

/*Item Date Left Side*/
.timeline-container:nth-child(odd) .timeline-card-date {
    right: 0;
}

/*Item Date Right Side*/
.timeline-container:nth-child(even) .timeline-card-date {
    right: unset;
}

.timeline-card-description {
    padding: 0 20px;
}

.timeline-card-description ul {
    margin-top: 0;
}

.timeline-card-description h3,
.timeline-card-description h4 {
    margin-top: 5px;
}

.timeline-card-description p {
    text-align: justify;
    line-height: 1.4em;
}

.timeline-card-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    border-top: 1px dotted #cacaca;
}

.timeline-card-button-container .btn {
    display: inline-block;
    padding: 11px 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #70cde9;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.timeline-card-button-container .btn:active,
.timeline-card-button-container .btn:visited,
.timeline-card-button-container .btn:focus {
    border: none;
    outline: none;
}

.timeline-card-button-container .btn:active {
    transform: scale(1.1);
}

.project-type-container {
    display: flex;
    justify-content: flex-start;
}

.project-type-container h3 {
    margin-left: -15px;
    margin-bottom: 10px;
    padding: 6px 20px;
    background-color: #70cde9;
    color: #fff;

}

.project-type-container h3:nth-of-type(2) {
    margin-left: 10px;
}

@media all and (max-width: 1100px) {
    .timeline::before {
        right: 0;
        left: unset;
    }

    /*.timeline-img {*/
    /*right: -35.9%;*/
    /*left: unset;*/
    /*}*/
    .timeline-card {
        width: 400px;
    }

    .timeline-container {
        align-items: center;
    }

    .timeline-card {
        float: right;
    }

    .timeline-item:nth-child(odd) .timeline-card-date {
        right: 0;
    }

    .timeline-item:nth-child(odd) .timeline-card::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 8px;
        right: -28px;
        left: unset;
        border-width: 20px 0 19px 28px;
        border-color: transparent transparent transparent #eb1917;
    }
}