.timeline-content {
    max-width: 1200px;
    margin: auto;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline::before {
    content: '';
    background: #a6d1bc;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.timeline-item {
    position: relative;
    flex: 1;
    display: flex;
    margin-bottom: 50px;
}

.timeline-item:nth-child(even) {
    justify-content: flex-end;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #70cde9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 13px;
    margin-left: -15px;
}

.timeline-card {
    flex-direction: column;
    position: relative;
    width: 44%;
    border-radius: 4px;
    background-color: #fafafa;
}

/*Left Side*/
.timeline-card:after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 8px;
    right: -28px;
    border-width: 20px 0 19px 28px;
    border-color: transparent transparent transparent #eb1917;
}

/* Right Side*/
.timeline-item:nth-child(even) .timeline-card::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 8px;
    left: -28px;
    border-width: 20px 28px 19px 0;
    border-color: transparent #eb1917 transparent transparent;
}

.timeline-img-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
    background: #d6d6d6 center center no-repeat;
    /*background-image: url('https://picsum.photos/1000/800/?random');*/
    background-size: cover;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    padding: 7px 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.timline-card-date {
    position: absolute;
    top: 8px;
    right: 0;
    display: inline-block;
    padding: 10px;
    background: #eb1917;
    color: #FFFFFF;
}
.timeline-item:nth-child(even) .timline-card-date {
    right: unset;
}

.timline-card-description p {
    padding: 0 20px;
}

.timline-card-button-container {
    padding: 10px 15px;
}

.timline-card-button-container .btn {
    display: inline-block;
    padding: 11px 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #70cde9;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.timline-card-button-container .btn:active,
.timline-card-button-container .btn:visited,
.timline-card-button-container .btn:focus {
    border: none;
    outline: none;
}

.timline-card-button-container .btn:active {
    transform: scale(1.1);
}