.mobile-navigation-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: bottom 0.6s;
    z-index: 4;
}

.mobile-navigation-wrapper {
    display: flex;
    height: 60px;
    margin-bottom: 3px;
    z-index: 1;
    border-top: 1px solid lightgrey;
}

.mobile-navigation-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff;
}

.mobile-navigation-item a {
    text-decoration: none;

}

.mobile-navigation-item a button {
    font-size: 20px;
}

.mobile-navigation-item-button {
    padding-top: 6px;
    text-align: center;
}

.mobile-navigation-item-button p {
    color: #1f2329;
    margin-top: 0;
    font-size: 0.9em;
}

.mobile-navigation-item.has-border {
    border-right: 1px solid lightgray;
}

.mobile-navigation-item.active {
    background-color: transparent;

}

.mobile-navigation-footer {
    background: linear-gradient(90deg, #ffec29 0%, #fdca70 20%, #61dafb 60%, #ed7061 85%, #ec1919 95%);
    height: 63px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 769px) {
    .mobile-navigation-container {
        display: none;
    }
}
