/*Acordion----------------------------------------------------------------------------------*/

.accordion-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Header*/
.accordion-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
}

.accordion-header h3 {
    margin: 10px 0 20px;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
}

.accordion-header h3 span {
    background: #fff;
    padding: 0 10px;
}

/*Plus Icon */
.plus-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.horizontal {
    display: inline-block;
    position: relative;
    top: 0;
    left: -12px;
    transform: translateY(-50%);
    padding: 1px 6px;
    background: rgba(0, 0, 0, 0.8);
}

.vertical {
    display: inline-block;
    position: relative;
    top: -1px;
    transform: rotate(90deg);
    padding: 1px 6px;
    transition: transform linear 0.6s;
    background-color: rgba(0, 0, 0, 0.8);
}

.vertical-open {
    transform: rotate(0deg);
}

/*Body*/
.accordion-inner {
    overflow: hidden;
    transition: height ease 600ms;
}

.accordion-inner .inner-content {
    padding: 10px;
}

@media all and (max-width: 1100px) {

}




