.story-content p {
    font-size: 1.2em;
    line-height: 1.42857143;
}

@media all and (max-width: 600px) {
    .story-content p {
        font-size: 0.9em;
        text-align: justify;
        line-height: 1.5em;
    }
}

@media all and (max-width: 500px) {
    .story-content {
        padding: 0 15px;
    }

    .story-content p {

    }

}